
script
    include turbine-demo.js

.row.turbine-demo
    .col.s6
        h2 Clip with multiple shape
    .col.s6
        .demo2dmap
            object(data='Water_turbine_(en_2).svg', type='image/svg+xml', onload='initTurbineDemo (this)')


.row
    .col.s12
        .bottombar.cell.hover-light-grey.padding.demo-tab-anchor(onclick="toggleTabDemo (event.currentTarget, 'tab-svg-source');") SVG
        
        .demo-tab-content.tab-svg-source
            pre.code.htmlHigh.notranslate.border-light-grey.
                &lt;?xml version="1.0" encoding="UTF-8"?>
                &lt;!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.0//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
                &lt;?xml-stylesheet href="../build/image-map.css" type="text/css"?>
                &lt;svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0">
                    &lt;image id="background" width="20071.51" height="21476.71" x="461.45" y="5600.09" xlink:href="Water_turbine_(en_2).png"/>
                    &lt;g id="stator">
                        &lt;path d=" ... "/>
                        &lt;path d=" ... "/>
                    &lt;/g>
                    &lt;g id="blades">
                        &lt;path d=" ... "/>
                        &lt;polygon points=" ... "/>
                    &lt;/g>
                    &lt;g id="rotor">
                        &lt;path d=" ... "/>
                    &lt;/g>
                    &lt;g id="shaft">
                        &lt;path d=" ... "/>
                        &lt;path d=" ... "/>
                    &lt;/g>
                    &lt;g id="gate">
                        &lt;path d=" ... "/>
                        &lt;path d=" ... "/>
                    &lt;/g>
                &lt;/svg>
    