doctype html
html(lang='en')

    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='image-map.css')
        style
            include style/index.css

    body.w3
        script(src='image-map.js')
        script
            include script/index.js
            include script/w3codecolor.js
        .container
            include demo/millemont-demo.pug
            include demo/turbine-demo.pug
        script.
            w3CodeColor()