doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Document
        link(rel='stylesheet', href='image-map.css')
        style
            include index.css
    body
        script(src='image-map.js')
        include millemont-demo.pug
        include turbine-demo.pug