extends layout/main.pug

block style
    link(rel='stylesheet', href='image-map.css')

block script
    script(src='image-map.js')

block content
    .container
        .row
            h2 Demos
        .row
            .col.s4
                .card-2
                    a(href="demo/millemont/")
                        img(src="demo/millemont/thumb.jpg")
                        .container.center
                            p Millemont
            .col.s4
                .card-2
                    a(href="demo/turbine/") 
                        img(src="demo/turbine/thumb.jpg")
                        .container.center
                            p Turbine